@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: rgb(96, 14, 73);
  --primary-color: #f55ec8;
  --black: #121010;
  --white: #f2eeee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 3rem;
  font-size: 5rem;
  margin-top: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--main-color);
  border: var(--main-color);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  background: var(--hover);
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--black);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  z-index: 1000;
}

.header .logo {
  font-size: 5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--main-color);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 2.8rem;
  margin-left: 2.8rem;
  color: var(--black);
}

.header .navbar a:hover {
  padding-bottom: 0.5rem;
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--black);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  z-index: 1000;
}

.header .logo {
  font-size: 5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--main-color);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 2.8rem;
  margin-left: 2.8rem;
  color: var(--black);
}

.header .navbar a:hover {
  padding-bottom: 0.5rem;
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
}

.home .slide .content {
  text-align: center;
  width: 70rem;
  padding-left: 16rem;
  display: none;
}

.home .slide .content h3 {
  font-size: 7.8rem;
  text-transform: uppercase;
  color: var(--main-color);
  line-height: 1;
  padding: 2rem 0;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.home .slide .content .btn {
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--white);
  color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--main-color);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .row .images {
  flex: 1 1 10rem;
}

.about .row .images {
  width: 80%;
  height: 40%;
}

.about .row .content {
  flex: 1 1 4rem;
  padding: 1rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--main-color);
  padding: 2rem 0;
}

.about .row .content p {
  font-size: 1.9rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
  padding-bottom: 15rem;
}
.menu {
  background: var(--primary-color);
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
  gap: 1.5rem;
}

.menu .box-container .box .image {
  overflow: hidden;
  text-align: center;
}

.menu .box-container .box .image img {
  /* object-fit: cover; */
  width: 200pxpx;
  height: 180px;
}

.menu .box-container .box .content {
  padding: 1.5rem;
  text-align: center;
}

.menu .box-container .box .content .title {
  font-size: 2.5rem;
  color: var(--main-color);
}

.menu .box-container .box .content p {
  font-size: 2rem;
  line-height: 1.1;
  color: #161f25;
  padding: 1rem 0;
}

.menu .box-container .box .content .price {
  color: var(--main-color);
  font-size: 1.9rem;
  padding: 0.5rem 0;
}

.reviews {
  background-color: var(--white);
}

.reviews .slide {
  text-align: center;
}

.reviews .slide p {
  font-size: 2rem;
  line-height: 2;
  color: #0b1e2b;
  position: relative;
  background: var(--primary-color);
  border: 0.1rem solid var(--main-color);
  margin-bottom: 3rem;
  padding: 2rem;
}

.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: var(--primary-color);
  border-bottom: 0.1rem solid var(--main-color);
  border-right: 0.1rem solid var(--main-color);
  height: 2rem;
  width: 2rem;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 0.5rem 0;
}

.reviews .slide .stars {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

.footer {
  background: url(../images/footer.png);
  margin-top: 2rem;
  text-align: center;
}

.footer .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
}

.footer .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: var(--main-color);
  color: var(--white);
  margin-bottom: 0.5rem;
  line-height: 5.8rem;
  font-size: 2rem;
}

.footer .icons-container .icons h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
  text-transform: capitalize;
}

.footer .icons-container .icons p {
  line-height: 1.5;
  font-size: 1.7rem;
  color: #a6a9ab;
  text-transform: capitalize;
}

.footer .icons-container .icons .link {
  font-size: 1.7rem;
  line-height: 2rem;
  color: var(--main-color);
  padding: 0.5rem 0;
  display: block;
}

.footer .icons-container .icons .link:hover {
  color: var(--hover);
  text-decoration: underline;
}

.footer .share {
  margin: 2rem 0;
}

.footer .share a {
  height: 6rem;
  width: 6rem;
  line-height: 5.8rem;
  color: var(--white);
  background: var(--main-color);
  margin: 0 0.3rem;
  font-size: 2.5rem;
}

.footer .share a:hover {
  background: var(--hover);
}

.footer .credit {
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  color: var(--black);
  border-top: var(--main-color);
}

.footer .credit span {
  color: var(--main-color);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .slide .content {
    text-align: left;
    width: 50rem;
    padding-left: 9rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .slide .content {
    text-align: left;
    width: 40rem;
    padding-left: 9rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
}
